html {
    background-color: #e0e2e3;
    min-width: 360px;
}

#background_canvas {
    position: fixed;
    width: calc(100% - 10px);
}

#snake_tongue {
    width: 20px;
    height: 20px;
    margin-bottom: 0.55em;
    margin-left: -10px;
}

.container {
    display: flex;
    height: inherit;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.menu_item {
    margin: 1em;
    width: 60%;
    background-color: #EBEBEB;

    min-height: 5em;

    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;

    -webkit-box-shadow: 5px 10px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 10px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 10px 5px 2px rgba(0, 0, 0, 0.2);
}

.svg_icon {
    height: 50px;
    margin-bottom: -75px;
    margin-left: 50px;
}

.menu_item > a {
    color: inherit;
    text-decoration: none;
}

#back_button {
    position: absolute;
    margin-left: 50px;
}
.back_icon {
    height: 75px;
}