html, body {
    height: 100%;
    overflow-y: hidden;

    margin: 0px;

    background-image: -webkit-linear-gradient(top, #ffffff, #EBEBEB);
    background-image: -moz-linear-gradient(top, #ffffff, #EBEBEB);
    background-image: -ms-linear-gradient(top, #ffffff, #EBEBEB);
    background-image: -o-linear-gradient(top, #ffffff, #EBEBEB);
    background-image: linear-gradient(to bottom, #ffffff, #EBEBEB);
}

#score_header {
    padding: 10px 16px;
    background: #000000;
    color: #f1f1f1;
    margin-top: 0.5em;
    margin-left: calc(100% - 12.5em);
    width: 10em;

    font-size: 1.1em;

    text-align: center;

    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

main {
    height: 100%;
}


#canvas {
    background-color: #EBEBEB;
    height: 85%;
}

#highscore_form {
    display: none;
    color: white;
    text-align: center;
    font-family: Courier;
    font-size: larger;

    background: #EBEBEB;

    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: linear-gradient(to bottom, #3D94F6, #1E62D0);
}