@font-face {
    font-family: "Rockwell";
    src: url("../assets/Fonts/ROCC____.TTF");
}

@font-face {
    font-family: "Rockwell Extra Bold";
    src: url("../assets/Fonts/ROCKEB.TTF");
}

@font-face {
    font-family: "Rockwell Bold";
    src: url("../assets/Fonts/ROCCB___.TTF");
}

html {
    font-family: Rockwell;
}

h1, h2, h3 {
    font-family: "Rockwell Extra Bold";
    font-size: 7em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

h4, h5, h6 {
    font-family: "Rockwell";
    font-size: 5em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    text-align: center;
}

p {
    font-family: "Rockwell";
    font-size: 2em;
}