#background_canvas {
    position: fixed;
    width: calc(100% - 10px);
}

#snake_tongue {
    width: 20px;
    height: 20px;
    margin-bottom: 0.55em;
    margin-left: -10px;
}

.container {
    flex-flow: column;
}

.menu_item {
    margin: 1em;

    width: 60%;

    background-color: #EBEBEB;

    min-height: 5em;

    border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    border: 0px solid #000000;

    -webkit-box-shadow: 5px 10px 5px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5px 10px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 10px 5px 2px rgba(0, 0, 0, 0.2);
}